:root {
    --title: hsla(276, 45%, 98%, 1);
    --buttonBg: hsla(56, 73%, 93%, 1);
    --buttonText: hsla(324, 27%, 36%, 1);
    --imageBackground: hsla(15, 68%, 78%, 1);
    --bg: hsla(270, 16%, 22%, 1);
    --numberBg: hsla(270, 25%, 17%, 0.93);
    --number: hsla(60, 88%, 84%, 1);
    --boxShadow: 0px 4px 4px 0px hsla(0, 0%, 0%, 0.25);
    --font: 'thundercoverregular';
    --font2: 'Inter',
        sans-serif;









}